<div>
    <header>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="bi bi-list"></i>
            </label>
            <a href="#" class="url">
                <img src="../../assets/images/evaseg-logo21.png" class="logo">
            </a>
            <ul>
                <li><button type="submit" class="btn btn" (click)="goTonextPage('/inicioCoordinacion')">
                        <i class="bi bi-house"></i> Inicio
                    </button></li>
                <li><button type="submit" class="btn btn" id="icono" (click)="goTonextPage('llamadosCoordinacion')">
                        <i class="bi bi-exclamation-circle"></i> Llamado de atención
                    </button></li>
                <li><button type="submit" class="btn btn" id="icono"
                        (click)="goTonextPage('reportarAprendizCoordinacion')">
                        <i class="bi bi-flag"></i> Reportar aprendiz
                    </button></li>
                <li><button type="submit" class="btn btn" id="icono" (click)="goTonextPage('felicitacionCoordinacion')">
                        <i class="bi bi-bookmark-check"></i> Felicitación
                    </button></li>
                <li><button type="submit" class="btn btn" id="icono" (click)="goTonextPage('fallosCoordinacion')">
                        <i class="bi bi-file-text"></i> Fallos
                    </button></li>
                <li><button type="submit" class="btn btn" id="icono" (click)="goTonextPage('bandejaAprendiz')">
                        <i class="bi bi-inbox"></i> Bandeja de entrada
                    </button></li>
                <li><button type="submit" class="btn btn-profile" id="icono"
                        (click)="goTonextPage('/perfilCoordinacion')">
                        <i class="bi bi-person"></i> Perfil Coordianción
                    </button></li>
            </ul>
        </nav>
    </header>
    <div>
        <div>
            <div class="row">
                <div id="column1">
                    <img src="../../assets/images/evaseg-logo21.png" class="logo-menu">
                    <br>
                    <button type="submit" class="btn btn" (click)="goTonextPage('inicioCoordinacion')">
                        <i class="bi bi-house"></i> Inicio
                    </button>
                    <button type="submit" class="btn btn" id="icono" (click)="goTonextPage('llamadosCoordinacion')">
                        <i class="bi bi-exclamation-circle"></i> Llamado de atención
                    </button>
                    <button type="submit" class="btn btn" id="icono"
                        (click)="goTonextPage('reportarAprendizCoordinacion')">
                        <i class="bi bi-flag"></i> Reportar aprendiz
                    </button>
                    <button type="submit" class="btn btn" id="icono" (click)="goTonextPage('felicitacionCoordinacion')">
                        <i class="bi bi-bookmark-check"></i> Felicitación
                    </button>
                    <button type="submit" class="btn btn" id="icono" (click)="goTonextPage('fallosCoordinacion')">
                        <i class="bi bi-file-text"></i> Fallos
                    </button>
                    <button type="submit" class="btn btn" id="icono" (click)="goTonextPage('bandejaCoordinacion')">
                        <i class="bi bi-inbox"></i> Bandeja de entrada
                    </button>
                    <button type="submit" class="btn btn" id="icono" (click)="goTonextPage('/perfilCoordinacion')">
                        <i class="bi bi-person"></i> Perfil Coordianción
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="column2">
    <div class="row" id="titulo">
        <h3>Bandeja de entrada</h3>
    </div>
    <div class="citar"><button type="submit" class="btn btn" id="citar" (click)="citar()"> Citar a comité</button></div>
    <div class="col-sm-12">
        <div class="card" id="process">
            <div class="card-body">
                <div class="form-check">
                    <input class="form-check-input align-middle" type="checkbox" value="" [(ngModel)]="isChecked" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault" [class.checked]="isChecked">
                        <div class="row">
                            <div class="card-title">Id proceso | Nombre | Ficha |</div> 
                            <h6>Fecha creación</h6>
                        </div>
                    </label> 
                </div>
            </div>
        </div>
    </div>
</div>