/* Estilos  descargos aprendiz */

/* Estilos nav responsive */

nav{
    height: 90px;
    width: 100%;
    position: fixed;
    z-index: 1000; /* Coloca el menú en un nivel superior */
}

.url{
    position: absolute;
    padding: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 30px;
    margin: 0 10px;
    margin-right: 30px;
    display: none;
}

nav ul li a {
    color: black ;
    font-size: 30px;
    list-style: none;
    text-decoration: none;
    font-family: 'Libre Baskerville', serif;
    display: none;
}

.checkbtn{
    font-size: 30px;
    color: #6d9d6d;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.logo{
    display: none;
}

@media (max-width: 1180px){

    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -150%;
        transition: all .5s;
        background-color: rgb(240, 240, 240);
    }
    nav{
        background-color: rgb(240, 240, 240);
    }
    nav ul li{
        display: block;
        margin: 20px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 30px;
    }
    #check:checked ~ ul {
        left: 0 ;
    }
    .logo{
        height: 60px;
        margin-left: 5px;
        display: block;
    }
    #column2{
        margin-top: 40px;
        justify-content: center;
    }

}

/* Side bar */

#column1{
    width: 350px;
    min-width: 300px; /* Asegura un ancho mínimo */
    background-color: rgb(240, 240, 240);
    padding: 30px;
    position: fixed;
    height: 100vh;
}
 
.logo-menu{
    width: 300px;
    align-items: center;
}
 
/* Sidebar opciones */
 
.btn{
    width: 300px;
    background: #6d9d6d;
    color: white;
    text-align:left;
    margin-top: 20px;
    padding-left: 30px;
    height: 50px;
    font-size: 22px;
}
 
.btn i {
    margin-right: 8px; /* Ajusta la cantidad de espacio entre el icono y el texto */
}
 

#column2{
    padding: 40px;
    margin-left: 450px;
    max-width: 1000px;
}

  
#semicolumn{
    background-color:  rgb(240, 240, 240);
    padding: 50px;
    border-radius: 20px;
}

#semicolumn h3{ 
    text-align: center;
    margin-bottom: 30px;
}

.container{
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 50px;
    padding: 10px;
}

.btn-submit{
    background: #6d9d6d;
    color: white;
    margin-top: 70px;
    text-align: center;
}


@media (min-width: 1600px) {
    #column2 {
        margin-left: 30%;
    }
}
 
 
/* Estilos para ocultar la barra lateral en dispositivos pequeños */
@media (max-width: 1187px) {
    #column1 {
        display: none !important; /* Oculta la barra lateral por defecto en pantallas pequeñas */
        transform: translateX(-100%); /* Desplaza la barra completamente fuera de la vista */
    }
    #column2{
        margin: 0 auto;
        margin-top: 100px;
    }
} 

@media (max-width: 500px) {
    .btn-submit{
        width: 200px;
    }
    .profile{
        height: 120px; /* Ajusta la altura del contenedor según tus necesidades */
    }
}