<div id="column">
    <div class="row">
        <div class="col-sm-12" id="semicolumn">
            <h3>Citación a comité</h3>
            <div class="container">
                <label class="form-label">
                    Seleccione la fecha de la citación
                </label>
                   <input type="date" id="date-comite" name="date-comite">
                <label class="form-label">
                    Seleccione la hora del comité  
                </label>
                <input type="time" id="date-comite" name="date-comite">
                <label for="branchAprendiz" class="form-label">Seleccione la sede donde se realizará el comité</label>
                <input type="text" class="form-control" id="branchAprendiz" name="coordinacion-aprendiz">
                <button type="submit" class="btn btn-submit">Enviar Citación</button>
            </div>
        </div>
    </div>
</div>