<div>
    <header>
        <nav>
          <input type="checkbox" id="check">
          <label for="check" class="checkbtn">
            <i class="bi bi-list"></i>
          </label>
          <a href="#" class="url">
            <img src="../../assets/images/evaseg-logo21.png" class="logo">
          </a>
          <ul>
            <li><button type="submit" class="btn btn" (click)="goTonextPage('/inicioCoordinacion')" >
                <i class="bi bi-house"></i> Inicio
            </button></li>
            <li><button type="submit" class="btn btn" id="icono" (click)="goTonextPage('llamadosCoordinacion')">
                <i class="bi bi-exclamation-circle"></i> Llamado de atención
            </button></li>
            <li><button type="submit" class="btn btn" id="icono" (click)="goTonextPage('reportarAprendizCoordinacion')">
                <i class="bi bi-flag"></i> Reportar aprendiz
            </button></li>
            <li><button type="submit" class="btn btn" id="icono" (click)="goTonextPage('felicitacionCoordinacion')" >
                <i class="bi bi-bookmark-check"></i> Felicitación
            </button></li>
            <li><button type="submit" class="btn btn" id="icono" (click)="goTonextPage('fallosCoordinacion')">
                <i class="bi bi-file-text"></i> Fallos
            </button></li>
            <li><button type="submit" class="btn btn" id="icono" (click)="goTonextPage('bandejaAprendiz')" >
                <i class="bi bi-inbox"></i> Bandeja de entrada
            </button></li>
            <li><button type="submit" class="btn btn-profile" id="icono" (click)="goTonextPage('/perfilCoordinacion')">
                <i class="bi bi-person"></i> Perfil Coordianción
            </button></li>
          </ul>
        </nav>
      </header>
<div>
<div>
    <div class="row">
        <div id="column1" >
            <img src="../../assets/images/evaseg-logo21.png" class="logo-menu">
            <br>
            <button type="submit" class="btn btn" (click)="goTonextPage('inicioCoordinacion')">
                <i class="bi bi-house"></i> Inicio
            </button>
            <button type="submit" class="btn btn" id="icono" (click)="goTonextPage('llamadosCoordinacion')">
                <i class="bi bi-exclamation-circle"></i> Llamado de atención
            </button>
            <button type="submit" class="btn btn" id="icono" (click)="goTonextPage('reportarAprendizCoordinacion')">
                <i class="bi bi-flag"></i> Reportar aprendiz
            </button>
            <button type="submit" class="btn btn" id="icono" (click)="goTonextPage('felicitacionCoordinacion')">
                <i class="bi bi-bookmark-check"></i> Felicitación
            </button>
            <button type="submit" class="btn btn" id="icono" (click)="goTonextPage('fallosCoordinacion')">
                <i class="bi bi-file-text"></i> Fallos
            </button>
            <button type="submit" class="btn btn" id="icono" (click)="goTonextPage('bandejaCoordinacion')">
                <i class="bi bi-inbox"></i> Bandeja de entrada
            </button>
            <button type="submit" class="btn btn" id="icono" (click)="goTonextPage('/perfilCoordinacion')">
                <i class="bi bi-person"></i> Perfil Coordianción
            </button>
        </div>
        </div>
        <div id="column2">
            <div class="row">
                <div class="col-sm-12" id="semicolumn">
                    <h3>Fallos</h3>
                    <form class="form">
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="fichaAprendiz" class="form-label">Ficha</label>
                                    <select class="form-select" id="fichaAprendiz" [(ngModel)]="fichaChoice"
                                        name="ficha-seleccionada" (change)="apprenticeCard()">
                                        <option selected>Ficha...</option>
                                        <option *ngFor="let item of dataFichas" [ngValue]="item">{{item.idFichaFK}}
                                        </option>
                                    </select>
                                </div>                                
                                <div class="mb-3">
                                    <label for="nameAprendiz" class="form-label">Nombre de aprendiz</label>
                                    <select class="form-select" id="fichaAprendiz" [(ngModel)]="aprendizChoice"
                                        name="aprendiz-seleccionado" (change)="updateFields()">
                                        <option selected>Aprendiz..</option>
                                        <option *ngFor="let item of listaInformacionAprendiz" [ngValue]="item">
                                            {{item.informacion.first_name}} {{item.informacion.second_name}} {{item.informacion.last_name}} {{item.informacion.second_last_name}}
                                        </option>
                                    </select>
                                </div>                        
                                <div class="mb-3">
                                    <label for="IdAprendiz" class="form-label">Número de documento</label>
                                    <input type="text" class="form-control" id="IdAprendiz"
                                        [(ngModel)]="numeroDocumentoAprendiz" name="numero-documento">
                                </div>                              
                                <div class="mb-3">
                                    <label for="programAprendiz" class="form-label">Programa de formación</label>
                                    <input type="text" class="form-control" id="programAprendiz"
                                        [(ngModel)]="programaFormacionAprendiz" name="programa-formacion">
                                </div>                               
                                <div class="mb-3">
                                    <label for="nameAprendiz" class="form-label">Procesos Activos</label>
                                    <select class="form-select" id="procesosActivos" [(ngModel)]="procesoChoice"
                                    name="proceso-seleccionado" (change)="viewProceso()">
                                        <option selected>ID de Procesos Activos...</option>
                                        <option *ngFor="let item of procesosAprendiz" [ngValue]="item">
                                            {{item.id}}
                                        </option>
                                    </select>
                                </div>
                            </div>                         
                        </div>
                    </form>
                </div>
                
                <div class="col-sm-12" id="semicolumn" *ngIf="structure" >
                                            
                </div>
                
                <div class="col-sm-12" id="semicolumn">
                    <div class="mb-3">
                        <label for="causesAprendiz" class="form-label">Escribir fallos</label>
                        <textarea  class="form-control" id="causes"></textarea>
                    </div>
                    <div class="col-12">
                        <label for="branchAprendiz" class="form-label">Seleccionar Documentos</label>
                        <div class="input-group">
                            <input type="file" enctype="multipart/form-data" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                        </div> 
                        <div class="mb-3 text-center"> 
                            <button type="submit" class="btn btn-submit">Enviar</button>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>
